* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-lighten: #2a2a2a;
  --dark: #222;
  --dark-darken: #1a1a1a;
  --orange: #ff4112;
  --red: #b12922;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --yellow: #fbbf24;

  --swiper-theme-color: #b12922 !important;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--dark);
  color: var(--gray-200);
  min-height: 100vh;
  overflow-x: hidden;
}

#main {
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  background: var(--dark-darken);
  transition: 0.3s;
  margin: 8px;
  padding: 20px;
  gap: 24px
}

#main img {
  height: 600px;
  width: 400px;
  object-fit: cover;
}

.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.movie-info .title {
  font-size: 36px;
  color: var(--gray-100);
}

.movie-info .tagline {
  font-size: 20px;
  font-style: italic;
  color: var(--red);
}

.movie-info .overview {
  font-size: 18px;
  text-align: justify;
  color: var(--gray-200);
  margin-top: 20px;
  margin-bottom: 20px;
}

#main span {
    color: var(--yellow);
    font-weight: bold;
}
